# Ignore CLion project directory and iml files
.idea/
*.iml

# Ignore build directories
cmake-build-*/
/installed/
/android-build/
/embuild/
/eminstall/
/mingw/
/.vs/

# Meta data of macOS's Finder.app
.DS_Store

/Samples/Media/RTShaderLib/cache/

# Ignore vim files
*.swp
*.pch
*.ipch

OrgreTemplateV2.vcxproj

OrgreTemplateV2.vcxproj.filters

OrgreTemplateV2.vcxproj.user

spotLight.jpg

x64/Debug/Assignment_1_ShularLee.obj

x64/Debug/cg.dll

x64/Debug/cgc.exe

x64/Debug/cgD3D10.dll

x64/Debug/cgD3D11.dll

x64/Debug/cgD3D9.dll

x64/Debug/cgfxcat.exe

x64/Debug/cgGL.dll

x64/Debug/cginfo.exe

x64/Debug/Codec_STBI_d.dll

x64/Debug/DefaultSamples_d.dll

x64/Debug/glut32.dll

x64/Debug/OgreBites_d.dll

x64/Debug/OgreHLMS_d.dll

x64/Debug/OgreMain_d.dll

x64/Debug/OgreMeshLodGenerator_d.dll

x64/Debug/OgreMeshUpgrader_d.exe

x64/Debug/OgreOverlay_d.dll

x64/Debug/OgrePaging_d.dll

x64/Debug/OgreProperty_d.dll

x64/Debug/OgreRTShaderSystem_d.dll

x64/Debug/OgreTerrain_d.dll

x64/Debug/OgreVolume_d.dll

x64/Debug/OgreXMLConverter_d.exe

x64/Debug/OrgreTemplateV2.Build.CppClean.log

x64/Debug/OrgreTemplateV2.exe

x64/Debug/OrgreTemplateV2.exe.recipe

x64/Debug/OrgreTemplateV2.ilk

x64/Debug/OrgreTemplateV2.log

x64/Debug/OrgreTemplateV2.pdb

x64/Debug/OrgreTemplateV2.tlog/CL.command.1.tlog

x64/Debug/OrgreTemplateV2.tlog/CL.read.1.tlog

x64/Debug/OrgreTemplateV2.tlog/CL.write.1.tlog

x64/Debug/OrgreTemplateV2.tlog/link.command.1.tlog

x64/Debug/OrgreTemplateV2.tlog/link.read.1.tlog

x64/Debug/OrgreTemplateV2.tlog/link.write.1.tlog

x64/Debug/OrgreTemplateV2.tlog/OrgreTemplateV2.lastbuildstate

x64/Debug/OrgreTemplateV2.vcxproj.FileListAbsolute.txt

x64/Debug/Plugin_BSPSceneManager_d.dll

x64/Debug/Plugin_CgProgramManager_d.dll

x64/Debug/Plugin_OctreeSceneManager_d.dll

x64/Debug/Plugin_OctreeZone_d.dll

x64/Debug/Plugin_ParticleFX_d.dll

x64/Debug/Plugin_PCZSceneManager_d.dll

x64/Debug/plugins.cfg

x64/Debug/quakemap.cfg

x64/Debug/RenderSystem_Direct3D11_d.dll

x64/Debug/RenderSystem_GL_d.dll

x64/Debug/RenderSystem_GL3Plus_d.dll

x64/Debug/resources.cfg

x64/Debug/SampleBrowser_d.exe

x64/Debug/samples.cfg

x64/Debug/SDL2.dll

x64/Debug/tests.cfg

x64/Debug/vc142.idb

x64/Debug/vc142.pdb

x64/Debug/VRMLConverter_d.exe

x64/Debug/week1-1-bootStrap.obj

x64/Debug/week1-2-simpleSample.obj

x64/Debug/Week3-5-FrameListenerDemo.obj

x64/Debug/zlib.dll

x64/Release/OrgreTemplateV2.exe.recipe

x64/Release/OrgreTemplateV2.iobj

x64/Release/OrgreTemplateV2.ipdb

x64/Release/OrgreTemplateV2.vcxproj.FileListAbsolute.txt

x64/Release/vc142.pdb
